@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}
/* Styling navbar*/
.navbar{
	position:fixed;
	width:100%;
	background-color:crimson;
	font-family: 'Ubuntu', sans-serif;
	padding:15px;
}

.max-width{
	width:1300px;
	padding:0 80px;
	margin:auto;
}

.navbar .max-width{
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.navbar .logo a{
	color: #fff;
	font-size:35px;
	font-weight: 600;
}

.menu li{
	list-style: none;
	display: inline-block;
}

.navbar .menu li a {
color:#fff;
font-size: 18px;
font-weight:500;
margin-left:25px;
}

/* Home styling*/
.home{
	display:flex;
	background: url('./imgs/BG.svg');
  height: 100vh;
	background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
	color: #fff;
	min-height:500px;
	font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
	margin:auto 0 auto 40px;
}

.home .home-content .text-1{
font-size:27px;
}

.home .home-content .text-2{
	font-size:75px;
	font-weight:600;
	margin-left:-3px;
}

.home .home-content .text-3{
	font-size:40px;
	font-weight:5px 0;
}

.home .home-content .text-3 span{
	color:crimson;
	font-weight:500;
}
